

    <div class="row">
        <div class="col-sm-3">
          <ul class ="list-group">
            <% @categories.each do |ca| %>
            <li class="list-group-item"> <h6><%= link_to ca.name, products_path(cate: ca.id), class:"text-reset"%></h6></li>
            <% end %>
          </ul>
        </div>


      <div class="col">
                    <div class="row">
                      <%= paginate @products, window: 2%>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <% if @products.empty? %>
                          <p>There are no products available.</p>
                        <% else %>
                          <% @products.each do |product|  %>
                            <div>

                                <div class="card" style="width: 18rem;">
                                  <% if product.image.empty? %>
                                    <p><%= link_to image_tag(product.active_image, alt: "#{product.name}", style:"width:150px; height:200px;"), product if product.active_image.attached? %></p>
                                  <% else %>
                                    <p><%= link_to image_tag("#{product.image}", alt: "#{product.name}", style:"width:150px; height:200px;"), product %></p>
                                  <% end %>
                                  <div class="card-body">
                                      <h6 class="card-title"><%= link_to "#{product.name}", product,class:"text-reset" %></h6>
                                      <p class="card-text">Price: $555 </p>
                                  </div>
                                  <div class="card-body">
                                      <a href="#" class="card-link">Add to the Cart</a>
                                  </div>
                                </div>


                            </div>
                          <% end %>
                        <% end %>
                    </div>

                <div class="row">
                  <%= paginate @products,window: 2 %>
                </div>
      </div>
   </div>
