







<div class="row mr-2 ml-2 mt-5 pt-5">
  <div class=" col-lg-4 ">

 <% if @product.image.empty? %>
  <p><%= image_tag(@product.active_image.variant(resize_to_limit: [250, 350]).processed, alt: "#{@product.name}", class: "border rounded") if @product.active_image.attached? %></p>
<% else %>
  <p><%= image_tag("#{@product.image}", alt: "#{@product.name}", style:"width:250px; height:350px;", class: "border rounded") %></p>
<% end %>


  </div>
  <div class="col">
    <div class="row"><h6><%= @product.name %></h6></div>
    <div class="row"><p><%= number_to_currency @product.price %></p></div>
    <div class="row"><p><%= @product.is_in_stock %></p></div>
    <div class="row"><p><%= @product.discount_rate %></p></div>
    <div class="row"><small><%= @product.description %></small></div>
  </div>
</div>