<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="navbar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Aboout Us', permalink_path('about_us') %></li>
        <li><%= link_to 'Contact', permalink_path('contact') %></li>

        <li>Search Box</li>
        <li>Cart</li>
        <li>Register</li>
        <li>Login</li>
        <li>Your Account</li>
      </ul>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
  <footer>
  Copyright Old Movies 2020 By Yueran Yu
  </footer>
</html>
